@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
	height: 100%;
	width: 100%;
	@apply text-sm;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

html.dark body {
	background-color: #181818;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.animate-fade-in {
	animation: fade-in 0.1s ease-in;
}

article h1 {
	@media (max-width: 479px) {
		font-size: 1.375rem !important;
	}
}

article p:not(:first-child) {
	font-size: 0.875rem;
	@media (min-width: 768px) {
		font-size: 1.3rem;
	}
}

.user-logo img {
	height: revert-layer;
  object-fit: cover;
}

.comments-logo {
	align-self: flex-start;
	width: 40px;
	height: 40px;
	transform: translateY(0.7rem);
  object-fit: cover;
}

input {
	background-color: white !important;
}

html.dark div.tiptap h1,
html.dark div.tiptap h2,
html.dark div.tiptap h3 {
	color: #da904c;
}

html.dark div.rounded-md div.tiptap h1,
html.dark div.rounded-md div.tiptap h2,
html.dark div.rounded-md div.tiptap h3,
html.dark div.rounded-md div.tiptap p {
	color: black;
}
